<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight(%-5level) %yellow(%logger{36}) traceId: %X{trace_id} spanId: %X{span_id} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="otel" class="io.opentelemetry.instrumentation.logback.v1_0.OpenTelemetryAppender">
        <appender-ref ref="stdout" />
    </appender>

    <appender name="secureLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/secure-logs/secure.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="app"       level="INFO"  additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="auth"      level="INFO"  additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="http"      level="INFO"  additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="jdbc"      level="INFO"  additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="kafka"     level="INFO"  additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="secureLog" level="TRACE" additivity="false"><appender-ref ref="secureLog"/></logger>

</configuration>
