<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    </appender>

    <appender name="otel" class="io.opentelemetry.instrumentation.logback.v1_0.OpenTelemetryAppender">
        <appender-ref ref="json" />
    </appender>

    <appender name="secureLog" class="libs.utils.LogTcpAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="libs.utils.LogTcpEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
        </encoder>
    </appender>

    <appender name="auditLog" class="libs.utils.LogTcpAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="libs.utils.LogTcpEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}","team_audit":"helved"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="json"/>
    </root>

    <!-- disable noisy logs on deploy -->
    <logger name="org.apache.kafka.streams.processor.internals.DefaultStateUpdater" level="WARN"/>
    <logger name="org.apache.kafka.streams.processor.internals.TaskManager" level="WARN"/>

    <logger name="app"       level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="auth"      level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="http"      level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="jdbc"      level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="kafka"     level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="mq"        level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="ws"        level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="secureLog" level="TRACE" additivity="false"><appender-ref ref="secureLog"/></logger>
    <logger name="audit"     level="TRACE" additivity="false"><appender-ref ref="auditLog"/></logger>
</configuration>
