<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="libs.utils.LogJsonEncoder"/>
    </appender>

    <appender name="secureLog" class="libs.utils.LogTcpAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="libs.utils.LogJsonEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}"}</customFields>
        </encoder>
    </appender>

    <appender name="auditLog" class="libs.utils.LogTcpAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="libs.utils.LogJsonEncoder">
            <customFields>{"google_cloud_project":"${GOOGLE_CLOUD_PROJECT}","nais_namespace_name":"${NAIS_NAMESPACE}","nais_pod_name":"${HOSTNAME}","nais_container_name":"${NAIS_APP_NAME}","team_audit":"helved"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="json"/>
    </root>

    <logger name="app"       level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="auth"      level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="http"      level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="jdbc"      level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="poller"    level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="secureLog" level="INFO" additivity="false"><appender-ref ref="secureLog"/></logger>
    <logger name="audit"     level="INFO" additivity="false"><appender-ref ref="auditLog"/></logger>
</configuration>
