<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>trace_id</includeMdcKeyName>
            <includeMdcKeyName>span_id</includeMdcKeyName>
        </encoder>
    </appender>

    <appender name="otel" class="io.opentelemetry.instrumentation.logback.v1_0.OpenTelemetryAppender">
        <appender-ref ref="json" />
    </appender>

    <appender name="secureLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/secure-logs/secure.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>/secure-logs/secure.log.%i</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>1</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>50MB</maxFileSize>
        </triggeringPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="json"/>
    </root>

    <logger name="app"       level="TRACE" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="auth"      level="TRACE" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="http"      level="TRACE" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="jdbc"      level="TRACE" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="kafka"     level="TRACE" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="mq"        level="TRACE" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="ws"        level="TRACE" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="secureLog" level="TRACE" additivity="false"><appender-ref ref="secureLog"/></logger>
</configuration>

