# IntelliJ
*.iml
.idea/
!.idea/codeStyles/
.run

# Gradle
out/
build/
.gradle/

# Kotlin
.kotlin/

# Generated sources
src/generated

# OS specific
.DS_Store
.devcontainer

# LSP (kotlin-language-server)
*.db
