<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %magenta([%thread]) %highlight(%-5level) %yellow(%logger{36}) %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>

    <logger name="jdbc"      level="INFO" additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="auth"      level="INFO" additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="http"      level="INFO" additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="task"      level="INFO" additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="app"       level="INFO" additivity="false"><appender-ref ref="stdout"/></logger>
    <logger name="secureLog" level="INFO" additivity="false"><appender-ref ref="stdout"/></logger>

</configuration>
