<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder"/>
    </appender>

    <appender name="otel" class="io.opentelemetry.instrumentation.logback.v1_0.OpenTelemetryAppender">
        <appender-ref ref="json"/>
    </appender>

    <appender name="secureLog" class="ch.qos.logback.classic.encoder.JsonEncoder">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withKeyValuePair><key>google_cloud_project</key><value>${GOOGLE_CLOUD_PROJECT}</value></withKeyValuePair>
            <withKeyValuePair><key>nais_namespace_name</key><value>${NAIS_NAMESPACE}</value></withKeyValuePair>
            <withKeyValuePair><key>nais_pod_name</key><value>${HOSTNAME}</value></withKeyValuePair>
            <withKeyValuePair><key>nais_container_name</key><value>${NAIS_APP_NAME}</value></withKeyValuePair>
        </encoder>
    </appender>

    <appender name="auditLog" class="libs.utils.LogTcpAppender">
        <destination>team-logs.nais-system:5170</destination>
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withKeyValuePair><key>google_cloud_project</key><value>${GOOGLE_CLOUD_PROJECT}</value></withKeyValuePair>
            <withKeyValuePair><key>nais_namespace_name</key><value>${NAIS_NAMESPACE}</value></withKeyValuePair>
            <withKeyValuePair><key>nais_pod_name</key><value>${HOSTNAME}</value></withKeyValuePair>
            <withKeyValuePair><key>nais_container_name</key><value>${NAIS_APP_NAME}</value></withKeyValuePair>
            <withKeyValuePair><key>team_audit</key><value>helved</value></withKeyValuePair>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="json"/>
    </root>

    <logger name="app"       level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="auth"      level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="http"      level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="jdbc"      level="DEBUG" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="kafka"     level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="mq"        level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="ws"        level="INFO" additivity="false"><appender-ref ref="json"/></logger>
    <logger name="secureLog" level="TRACE" additivity="false"><appender-ref ref="secureLog"/></logger>
    <logger name="audit"     level="INFO" additivity="false"><appender-ref ref="auditLog"/></logger>
</configuration>
