name: pr
on: pull_request

jobs:
  build:
    permissions:
      checks: write
      pull-requests: write
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4.2.1
        with:
          java-version: 21
          distribution: temurin
      - uses: gradle/actions/setup-gradle@v3

      # exclude libs:mq:test because two mq testcontainers is not always working
      - run: ./gradlew test --continue --no-daemon --parallel
      - uses: dorny/test-reporter@v1.8.0
        if: success() || failure()
        with:
          name: tests
          path: "**/**/build/test-results/test/TEST-*.xml"
          reporter: java-junit
          token: ${{ secrets.GITHUB_TOKEN }}

#  merge:
#    if: ${{ github.actor == 'dependabot[bot]' }}
#    runs-on: ubuntu-latest
#    needs: build
#    permissions:
#      contents: write
#    steps:
#      - run: gh pr merge --auto --merge "$PR_URL"
#        env:
#          PR_URL: ${{ github.event.pull_request.html_url }}
#          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
