name: utsjekk

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    paths:
      - 'apps/utsjekk/**'
      - '.github/workflows/utsjekk.yml'
      - 'build.gradle.kts'
      - 'Dockerfile'

jobs:
  build:
    if: github.event.pull_request.merged || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    permissions:
      contents: write  # submit dependency-graph
      id-token: write  # publish docker image
      actions: read    #
      checks: write    # write test results
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4.4.0
        with:
          java-version: 21
          distribution: temurin

      - uses: gradle/actions/setup-gradle@v4
        with:
          dependency-graph: generate-and-submit

      - run: ./gradlew apps:${{ github.workflow }}:test apps:${{ github.workflow }}:buildFatJar --continue --no-daemon

      - uses: dorny/test-reporter@v1.9.1
        if: success() || failure()
        with:
          name: tests
          path: "**/**/build/test-results/test/TEST-*.xml"
          reporter: java-junit
          token: ${{ secrets.GITHUB_TOKEN }}

      - uses: nais/docker-build-push@v0
        with:
          salsa: 'false'
          team: helved
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          image_suffix: ${{ github.workflow }}
          tag: ${{ github.sha }}

  deploy-dev:
    if: github.event.pull_request.merged || github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: build
    permissions:
      contents: read    # read repository files
      id-token: write   # publish nais manifest
    steps:
      - uses: actions/checkout@v4
      - uses: nais/login@v0
        id: login
        with:
          team: helved
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
      - uses: nais/deploy/actions/deploy@v2
        env:
          PRINT_PAYLOAD: true
          CLUSTER: dev-gcp
          RESOURCE: apps/${{ github.workflow }}/unleash-apitoken.yaml,apps/${{ github.workflow }}/nais.yaml
          VAR: image=${{ steps.login.outputs.registry }}/${{ github.event.repository.name }}-${{ github.workflow }}:${{ github.sha }}
          VARS: apps/${{ github.workflow }}/vars-preprod.yaml
